.mainBoard {
  transition: margin-left 0.7s;
  z-index: 1;
  top: 0;
  padding-top: 0px;
  float: left;
  width: 1550px;
  height: 100%;
  background-color: white;
  margin-left: 350px;
}

.projectTreeMenu {
  width: 100%;
  height: 10%;
  background-color: firebrick;
}

.projectTree {
  padding-top: 0px;
  margin-left: 2px;
  position: inherit;
  height: 100%;
  width: 700px;
  background-color: white;
  overflow: auto;
  float: left;
}

.property {
  margin-left: 710px;
  position: inherit;
  height: 100%;
  width: 700px;
  background-color: lawngreen;
}

/* Remove default bullets */
ul,
#myUL {
  list-style: none;
}

ul li:before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 35px;
  background-image: url("folder.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -35px;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin-left: 40px;
  padding: 10px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.nonactive {
  display: none;
}
