.web-main-div {
    text-align: center;    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;    
}

.web-field {
    margin: 10px;
}

.web-route-main-div {
    border-style: double;
    text-align: center;
    padding: 10px;
    display: inline-table;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    height: 100px;
}

.oot {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 200px;
    overflow-x: auto;    
    white-space: nowrap;
}

.web-feature-routes {    
    display: inline-table;        
}

.remove-btn {    
    margin-top: 0px;
    height: 100%;
}

.web-feature-create-new {
    display: inline-table;    
    border-style: dotted;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    height: 100px;
}
