
.projectTree {
    background-color: rgba(116, 235, 225, 0.192);
    height: 100vh;    
    width: 34%;
    float: left;
}

.second-card-name {  
    margin: 0 auto;
    width: 30%;
    text-align: center;    
    font-size: 250%;  
    padding-bottom: 60px;
}

.tree {
    margin: 0 auto;
    min-height: 300px;    
}

.file-card {
    background-color: #eafbff8c;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
}

.tree-div {    
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding-bottom: 10px;
}