.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.mainView {
  background-color: #7F8FA3;
}

.pretty-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.gen-div {    
  text-align: center;   
  
}

.gen-btn {  
  margin-bottom: 30px;
  border: none;  
  background-color: #eafbff8c;
  height: 50px;
  width: 50%;
  font-size: 35px;
}